.title {
    position: absolute;
}

@media screen and (max-width: 48em) {
    .title {
        font-size: 1.875rem;
        top: 2vw;
        left: 6vw;
    }
}

@media screen and (min-width: 48em) {
    .title {
        font-size: 2.5rem;
        top: 6vw;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

@media screen and (min-width: 62em) {
    .title {
        font-size: 2.5rem;
        top: 6vw;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}