html {
  font-family: var(--font-inter);
}

h2 {
  font-size: 4vw;
  left: calc(56vw);
  top: calc(70vh);
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.8;
  position: absolute;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  perspective: calc(40vw)
}

section>div {
  overflow: hidden;
}

.back {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.back:hover {
  color: gray;
}